*{
    margin:0px;
    font-family: 'Karla', sans-serif;
}
body{
    background: #0B2434;
}

main{
    display:flex;
    flex-direction: column;
    align-items:center;
    width:700px;
    max-width:100%;
    height: 700px;
    background: #fff;
    margin:auto;
    margin-top:2%;
    border-radius: 2em;
}

#heading{
    margin-top:1%;
    margin-bottom: 3%;
    font-size: 3em;
}

#para{
    margin-bottom: 1%;
    text-align: center;
    font-size: 1.5em;
    max-width: 80%;
}


.die{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height:2.5em;
    width:2.5em;
    border-style: solid;
    font-size: 2rem;
    border-radius:0.5em;

}


.die img{
    max-width:2em;
}


.dieHolder{
    display:grid;
    grid-gap: 0.8rem;
    grid: 1fr 1fr/ 1fr 1fr 1fr 1fr 1fr;
    align-items:center;
}

#timer{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-radius:1em;
    margin-left:0.3em;
}

#heading--timer{
    font-size: 1.4em;
}



#currentTimer{
    font-size:1.3em;
}

#logo--timer{
    max-width: 5em;
}

#options{
    display:flex;
    margin-left:auto;
    margin-top:2%;
    justify-content: end;
    align-items: center;
    
}

#rolls{
    display:flex;
    flex-direction: column;
    align-items: center;
    border-style:groove;
    border-radius:1em;
    margin-right:0.3em;
}

#img-leaderboard{
    max-width: 2em;
    margin-right:1em;

}

#img-back{
    max-width: 2em;
    margin-right:1em;
}

#img-reset{
    max-width:2em;
    margin-right:1em;
}

#heading--rolls{
    font-size: 1.4em;
}

#logo--roll{
    max-width: 5em;
}

#currentScore{
    font-size:1.3em;
}

#scores{
    display:flex;
    margin:2%;
}

 
tr{
    width: 100%;
}
table, th, td {
    width: 80%;
    word-wrap: "break-word";
    table-layout:fixed;
    padding:0.2em 1em;
    border-bottom: 1px groove black;
    border-collapse: collapse;
    text-align: left;
    overflow-wrap:break-word 
  }


table thead{
    font-size: 1.6em;
}

table tbody{
    font-size: 1.3em;
}


.btn{
    background-color: #475dc0; 
    border: none;
    color: white;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1.5em;
    margin: 2em 2px;
    transition-duration: 0.4s;
    border-radius:0.5em;
    cursor: pointer;
}


@media only screen and (max-width: 700px) {
    .dieHolder{
        display:grid;
        grid-gap: 0.8rem;
        grid:  1fr /  1fr 1fr;
        justify-items:center;
    }
    main{
        min-height: 100vh;
        height:100%;
        width:100%;
    }
    table{
        width: 100%;
        white-space:nowrap;
    }

    
    table thead{
        font-size: 1.2em;
    }

    table tbody{
        font-size: 0.9em;
    }
    
  }

